.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form_title {
  margin: 0 0 25px 0;
  align-items: center;
}
.form_button {
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.form_input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  margin: 0 0 25px 0;
}
