.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.form_title {
  margin: 0 0 32px 15px;
  align-items: center;
}
.form_button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 16xp;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  display: flex;
  margin: auto;
}
.form_input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
}
